<section>
  <h1>{{ title }}</h1>
  <div>
    <button [cdkMenuTriggerFor]="menu" class="example-standalone-trigger">
      Click me!
    </button>
    <ng-template #menu>
      <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>Refresh</button>
        <button class="example-menu-item" cdkMenuItem>Settings</button>
        <button class="example-menu-item" cdkMenuItem>Help</button>
        <button class="example-menu-item" cdkMenuItem>Sign out</button>
      </div>
    </ng-template>
  </div>

</section>
